google-cloud-firestore
streamlit-option-menu
streamlit-analytics==0.4.1
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
mercadopago
python-dotenv
langchain-openai
langchain
firebase-admin
beautifulsoup4
PyPDF2
python-docx
numpy
pandas
requests
Pillow
gunicorn
Unidecode
psycopg2-binary
protobuf==3.20.0
chardet
urllib3
idna
certifi
setuptools
langchain_community
fake-useragent